<header>
    <%= image_tag "stickers/1.webp", class: "i n1" %>
    <%= image_tag "stickers/2.webp", class: "i n2" %>
    <%= image_tag "stickers/3.webp", class: "i n3" %>
    <%= image_tag "stickers/4.webp", class: "i n4" %>
    <%= image_tag "stickers/7.webp", class: "i n5" %>
    <%= image_tag "stickers/8.webp", class: "i n6" %>
    <%= image_tag "stickers/9.webp", class: "i n7" %>
    <%= image_tag "stickers/10.webp", class: "i n8" %>
    <%= image_tag "stickers/11.webp", class: "i n9" %>
    <%= image_tag "stickers/12.webp", class: "i n10" %>
    <%= image_tag "stickers/13.webp", class: "i n11" %>
    <%= image_tag "stickers/14.webp", class: "i n12" %>
    <%= image_tag "stickers/15.webp", class: "i n13" %>
    <%= image_tag "stickers/16.webp", class: "i n14" %>
    <%= image_tag "stickers/17.webp", class: "i n15" %>
</header>
 
<div class="my-container">
  <h1>Modifica foto</h1>

  <%= render "form", post: @post, button_name: "Modifica" %>

  <br>

  <div>
  <%= link_to "Visualizza", @post %> <br>
  <%= link_to "Back", posts_path %>
  </div>
</div>
